@charset "utf-8";

/* common*/
body{
  margin: 0px;
}

h2{
  width: 70%;
}


/* header */
.header{
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 0;
  background-color: rgb(9, 133, 92);
}

.header-logo{
  margin: 5px;
  padding:5px;
  width:auto;
  align-items: center;
}

.breezelogo{
  margin: 0;
  padding: 0;
  width: auto;
  height: 50px;
}

.header-nav{
  width: auto;
  padding: 0;
  margin: 0;
  float: right;
  justify-content: space-between;
}

.header-navitem{
  float: right;
  margin: 0;
  padding: 0;
}

.header-navlist{
  float:right;
  margin: 10px;
  align-items: center;
}



/* main section*/
.main-column{
  display: block;
  padding: 10px 10px;

}

.main-headline{
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  padding-left: 15px;
  margin: 5px;
  padding: 0;
  width: 500px;
}

.text-contents{
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

.main-image{
  margin-left: 15px;
  padding: 0;
  width: 150px;
  height: 200px;
}

.main-caption{
}
.main-Synopsis{}
.main-AudienceVoice{}

/* side */

/* cast */
.side-contents
.cast
.side-headline
.cast-info
.cast-contents
.cast-image{
  width: 15px;
  height: 15px;
}
.cast-data
.cast-job
.cast-name

/* footer */