@charset "utf-8";

/* common*/
body{
  margin: 0px;
}

a{
  color: rgb(40, 106, 158);
  text-decoration: none;
}

a:hover{
  color: rgb(171, 196, 206);
  transition: 0.5s;
}


/* header */
.header{
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 0;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  background-color: rgb(190, 237, 249);
  background-color: aliceblue;
}

.breezelogo{
  margin: 5px 15px;
  width: 200px;
  height: 50px;
}

.header-nav{
  width: auto;
  padding: 0;
  margin-left: auto;
  float: right;
}

.header-navitem{
  margin-top: 60px;
  margin-right: 20px;
}

.header-navlist{
  float:right;
  margin: 10px;
  align-items: center;
}



/* main section*/
.main{
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.main-column{
  width: auto;
  height: 100%;
  align-items: center;
  /* border: 2px solid black; */
}

.main-headline{
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3d4042;
}

.main-HeadLineSecond{
  font-size: 1.5em;
  margin: 0;
  color: #3d4042;
}

.text-contents{
  float: right;
  padding: 0;
  margin: 5px 20px 20px 20px;
}

.main-image{
  padding: 0;
  width: 350px;
  height: 500px;
  margin-left: 20px;
  border-radius: 5px;
}

.main-caption{
  height: auto;
  align-items: center;
}

.Synopsis-wrap{
  margin: 0 15px 40px 15px;
}

.Synopsis{
  font-size: 15px;
  color: #3d4042;
}

.AudienceVoice-wrap{
  margin: 40px 15px 15px 15px;
}

.AudienceVoice{
  font-size: 15px;
  line-height: 3em;
  color: #3d4042;
}

/* side */

/* cast */
.side-contents{
  display: flex;
  /* border: 2px solid black; */
}

.cast{
  padding: 20px;
}

.side-headline{
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  color: #3d4042;
}

.cast-contents{
  display: flex;
  padding: 15px;
  margin:15px 10px 15px 10px;
  border: 2px solid rgb(165, 204, 207);
  background-color: rgb(229, 240, 248);
  border-radius: 30px;
}

.cast-image{
  width: 60px;
  height: 60px;
  margin:0;
  border-radius: 90px;
  align-items: center;
}

.cast-data{
  float: right;
  text-align: center;
  margin: 0 auto;
}

.cast-job{
  margin: 0 auto;
  font-size: 20px;
  color: #3d4042;
}

.cast-name{
  margin: 0 auto;
  font-size: 17px;
  color: #3d4042;
}

.pr-image{
  width: 270px;
  height: 85px;
}

.senden-area{
  margin-top: 35px;
}

/* footer */

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: aliceblue;
}

.form-wrap{
  text-align: right;
  margin: 20px;
}

.footer-text{
  margin: 0;
}

.footer-link{
  margin: 0;
}